
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-container {
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-watercolor-decorative-background-design_1055-13654.jpg");
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
}

.heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
}

.card-container {
    background-color: white;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
    margin-bottom: 18px;

    width: 100%;
}

.card-heading {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-paragraph {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 1.6;
}

.card-image {
    width: 140px;
    height: 140px;

    object-fit: cover;

    border-radius: 10px;

    margin-left: 15px;
}

.footer {
    background-color: transparent;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.footer-text {
    font-family: "Roboto";
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin: 0;
}




@media screen and (max-width:767px) {

    .heading {
        font-size: 28px;
    }

    .card-container {
        padding: 12px;
    }

    .card-heading {
        font-size: 18px;
    }

    .card-paragraph {
        font-size: 8px;
    }

    .card-image {
        width: 150px;
        height: 150px;
    }
}



@media screen and (min-width:768px) {

    .heading {
        font-size: 36px;
    }

    .card-heading {
        font-size: 26px;
    }

    .card-paragraph {
        font-size: 16px;
    }

    .card-image {
        width: 350px;
        height: 220px;
    }

    .footer-text {
        font-size: 16px;
    }
}